.primary-container {
  padding: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 15px auto;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

/**
  Fade-in animation
 */
@mixin animation($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-ms-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }

  @keyframes #{$name} {
    @content;
  }
}

@keyframes fadeInCard {
  0% {
    opacity: 0;
    transform: (rotateY(-2deg) rotateX(-2deg));
  }

  100% {
    opacity: 1;
    transform: (rotateY(0deg) rotateX(0deg));
  }

}

/**
  End Fade-in animation
 */

/**
  Flip animation
 */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card-container:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: transparent;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
  background: #3e3e85;
  border-radius: 10px;
}

.pro-back {
  color: #231E39;
  background-color: #e4ca01;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: relative;
  top: 225px;
}

/**
  End flip animation
 */

.card-container * {
  box-sizing: border-box;
}

.h3 {
  margin: 10px 0;
}

.h6 {
  margin: 5px 0;
  text-transform: uppercase;
}

.p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #B3B8CD;
  padding-top: 0px;
  position: relative;
  width: 300px;
  max-width: 100%;
  height: 450px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;

  opacity: 0;
  animation-name: (fadeInCard);
  animation-duration: (1s);
  animation-timing-function: (ease);
  animation-iteration-count: (1);
  animation-direction: (normal);
  animation-delay: (0s);
  animation-fill-mode: (forwards);
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) {
      $delay: 0.125 * $i;
    animation-delay: (#{$delay}s);
    }
  }
}

.card-container .pro {
  color: #231E39;
  background-color: #e4ca01;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: relative;
  top: 20px;
  left: -120px;
}

.card-container .round {
  border: 1px solid #03BFCB;
  border-radius: 50%;
  padding: 7px;
  width: 200px;
  height: 261.67px;
  flex-direction: column;
}

.skills {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin-top: 0;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2D2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  margin: 0 7px 7px 0;
  padding: 7px;
}